body {
  background-color: #2c3e50;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.js-momentum {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  margin: 0;
}

.js-greetings {
  margin: 0 0 80px 0;
  font-size: 1.5em;
}

.js-clock {
  font-size: 2em;
}

.js-toDoForm {
}

input {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid;
  color: white;
  border-radius: 3px;
}
::placeholder {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.js-toDoList {
  list-style-type: none;
  padding: 0;
  font-size: 1.3em;
}

.js-toDoList li span {
  border-bottom: rgb(190, 73, 73) groove;
  padding-bottom: 3px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}

.js-weather {
  display: block;
  text-align: right;
}

.weather-span1, .weather-span2 {
  display: block;
}

.weather-span1{
  font-size: 2em;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

h2 {
  color: #02121a;
  transition: color .5s ease-in-out;
}

.mouseOver {
  color: #2980b9
}

.title_title1 {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1.5s linear;
}


